.bestsellers {
  width: auto;
}

.bestsellers__container {
  @include mobile-container;

  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bestsellers__title {
  @include title;
}

.bestsellers__list {
  @include list-reset;

  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  margin-top: 40px;
}

.bestsellers__card {
  display: grid;
  grid-template-rows: auto 1fr 0.5fr;
  margin: 0 auto;
}

.bestsellers__card-title {
  grid-row: 2 / 3;
  padding-top: 13px;

  font-weight: 500;
  color: $dark-gray-blue;
}

.bestsellers__card-image {
  grid-row: 1 / 2;
}

.bestsellers__card-price {
  @include text-reset;

  padding-top: 3px;

  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.bestsellers__btn {
  @include underlined-btn;

  margin: 0 auto;
  margin-top: 35px;
}

@media (min-width: $tablet-width) {
  @include tablet-grid(bestsellers);

  .bestsellers__card-title,
  .bestsellers__card-price  {
    font-size: 18px;
    line-height: 21px;
  }

  .bestsellers__card-title {
    padding-top: 23px;
  }

  .bestsellers__card-price {
    padding-top: 7px;
  }

  .bestsellers__card-image {
    width: 324px;
    height: 349px;
  }
}
