.breadcrumbs {
  @include list-reset;
}

.breadcrumbs__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: $gray;

  &--mobile-hidden {
    display: none;
  }

  &--active {
    color: $dark-gray-blue;
  }
}
