.categories {
  width: auto;
}

.categories__container {
  @include mobile-container;

  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.categories__title {
  @include title;
}

.categories__list {
  @include list-reset;

  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.categories__item {
  display: flex;
  flex-direction: column;

  &:first-child,
  &:nth-child(2) {
    align-self: flex-start;
  }
}

.categories__name {
  margin-top: 12px;

  font-weight: 500;
  color: $dark-gray-blue;
}

.categories__btn {
  @include underlined-btn;

  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  @include tablet-grid(categories);

  .categories__image {
    width: 324px;
  }

  .categories__name {
    margin-top: 15px;

    font-size: 18px;
    line-height: 21px;
  }
}

@media (min-width: $desktop-width) {
  .categories__container {
    @include desktop-container;

    padding-top: 130px;
    padding-bottom: 130px;
  }

  .categories__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    margin-top: 70px;
    align-items: flex-start;
  }

  .categories__image {
    width: 270px;
  }
}

