.main-header {
  width: auto;
}

.main-header__container {
  @include mobile-container;

  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;

  padding-top: 20px;
  padding-bottom: 40px;
}

.main-header__toggle-wrapper {
  width: 20px;
  height: 10px;

  cursor: pointer;
}

.main-header__toggle {
  position: relative;

  display: block;
  width: 20px;
  height: 2px;
  padding: 0;

  background-color: $dark-gray-blue;
  box-shadow: 0 10px 0 $dark-gray-blue;
  border: none;

  &::after {
    @include pseudo;

    top: 5px;
    left: 0;

    width: inherit;
    height: inherit;

    background-color: $dark-gray-blue;
  }
}

.main-header__nav-list {
  @include list-reset;

  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  padding-top: 20px;
}

.main-header__nav-item,
.main-header__user-item {
  text-align: center;
}

.main-header__nav-link {
  font: inherit;
  color: $dark-gray-blue;
}

.main-header__user-list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin-left: 40px;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .main-header__container {
    @include tablet-container;

    padding-top: 20px;
    padding-bottom: 28px;
  }

  .main-header__nav-list,
  .main-header__user-list {
    padding-top: 45px;
  }

  .main-header__nav-list {
    max-width: auto;
    display: flex;
  }

  .main-header__nav-item {
    margin-right: 35px;
  }

  .main-header__user-list {
    max-width: 100px;
    gap: 0;
    margin: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header__container {
    @include desktop-container;

    padding-top: 20px;
    padding-bottom: 28px;
  }

  .main-header__nav-list,
  .main-header__user-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
  }

  .main-header__nav-item,
  .main-header__user-item {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .main-header__user-list {
    align-items: flex-end;
  }
}
