.main-page__promo {
  margin-top: -85px;
}

@media (min-width: $tablet-width) {
  .main-page__promo {
    margin-top: -95px;
  }
}

@media (min-width: $desktop-width) {
  .main-page__promo {
    margin-top: -200px;
  }
}
