.similar-cards__title {
  @include title;
}

.similar-cards__list {
  @include list-reset;
}

.similar-cards__card-title {
  font-weight: 500;
  color: $dark-gray-blue;
}

.similar-cards__card-price {
  @include text-reset;

  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.similar-cards__btn {
  @include underlined-btn;
}
