@mixin pseudo {
  content: "";
  position: absolute;
}

@mixin text-reset {
  margin: 0;
  padding: 0;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin title {
  @include text-reset;

  font-size: 26px;
  line-height: 30px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

@mixin underlined-btn {
  position: relative;

  display: block;
  width: 24%;
  padding: 3px;

  font-weight: 500;
  color: $dark-gray-blue;
  text-align: center;

  &::after {
    @include pseudo;

    bottom: -2px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $dark-gray-blue;
  }

  @media (min-width: $tablet-width) {
    width: 50%;

    font-size: 18px;
    line-height: 21px;

    &::after {
      bottom: 3px;
    }
  }
}

@mixin mobile-container {
  margin: 0 auto;
  padding: 0 15px;
}

@mixin tablet-container {
  margin: 0 auto;
  padding: 0 45px;
}
