$white: #ffffff;
$dark-gray-blue: #151c22;
$gray: #727A82;
$light-gray: #F1F2F4;
$super-light-gray: #E5E5E5;

//filters-colors

$blue-gray: #B0C3C7;
$blue: #3B6392;
$black: #2D2E2E;
$bright-blue: #4193DA;

$tablet-width: 768px;
$desktop-width: 1320px;
