footer.main-footer
  div.main-footer__container
    nav.main-footer__nav
      ul.main-footer__nav-list
        li.main-footer__nav-item.main-footer__nav-item--logo
          a.main-footer__logo.logo
            img.logo__image(src="img/footer-logo-icon.svg" width="75" height="17" alt="Nimes Shop Logo")
        - const footerList = ["sitemap", "shop", "service", "delivery", "contacts"]
          each item in footerList
            li.main-footer__nav-item(class="main-footer__nav-item--" + item)
              a.main-footer__nav-link( href="#")= item
    ul.main-footer__social.social
      mixin social-item(title, src, width, height)
        li.social__item
          a.social__link(href="#" aria-label="Nimes in " + title)
            img.social__icon(class="social__icon--" + title src=src width=width height=height)
      +social-item("facebook", "img/facebook-icon.svg", "11", "20")
      +social-item("instagram", "img/instagram-icon.svg", "20", "20")
      +social-item("pinterest", "img/pinterest-icon.svg", "20", "20")
      +social-item("twitter", "img/twitter-icon.svg", "20", "16")
