block footer

footer.main-footer
      div.main-footer__container
        a.main-footer__logo.logo
          img.logo__image(src="http://placehold.it/75x17" width="75" height="17" alt="Nimes Shop Logo")
        nav.main-footer__nav
          ul.main-footer__nav-list
            - const footerList = ["Shop", "Delivery", "Sitemap", "Service", "Contacts"]
              each item in footerList
                li.main-footer__nav-item
                  a.main-footer__nav-link(href="#")= item
        ul.main-footer__social.social
          mixin social-item(title, width, height)
            li.social__item
              a.social__link(href="#" aria-label="Nimes in " + title)
                img.social__icon(class="social__icon--" + title src="http://placehold.it/11x20" width=width height=height)
          +social-item("facebook", "11", "20")
          +social-item("instagram", "20", "20")
          +social-item("pinterest", "20", "20")
          +social-item("twitter", "20", "16")
